<ion-header>

  <ion-navbar *ngIf="signInData">
    <ion-title>Sign-In</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row text-center class="row-logo">
      <ion-col col-12 class="logo-parent">
        <div class="logo image"></div>
      </ion-col>
    </ion-row>

    <form [formGroup]="loginForm">
      <ion-row *ngIf="!signInData">
        <ion-col no-padding text-center class="sign-up-text">
          <div>SIGN UP</div>
        </ion-col>
        <ion-col col-12>
          <ion-input placeholder="Mobile no." formControlName="mobile" type="tel"></ion-input>
          <p class="error" *ngIf="loginForm?.controls['mobile']?.hasError('required') && (loginForm?.controls['mobile']?.dirty || isFormInvalid)">Mobile number is Required</p>
          <p class="error" *ngIf="loginForm?.controls['mobile']?.hasError('minlength') && (loginForm?.controls['mobile']?.dirty || isFormInvalid)">Min 11 digit is Required</p>
          <p class="error" *ngIf="loginForm?.controls['mobile']?.hasError('maxlength') && (loginForm?.controls['mobile']?.dirty || isFormInvalid)">Max 11 digit is Required</p>
        </ion-col>
        <ion-col col-12>
          <ion-input placeholder="OTP" formControlName="otp" type="tel"></ion-input>
          <p class="error" *ngIf="loginForm?.controls['otp']?.hasError('required') && (loginForm?.controls['otp']?.dirty || isFormInvalid)">OTP is Required</p>
          <p class="error" *ngIf="loginForm?.controls['otp']?.hasError('minlength') && (loginForm?.controls['otp']?.dirty || isFormInvalid)">Min 6 digit is Required</p>
          <p class="error" *ngIf="loginForm?.controls['otp']?.hasError('maxlength') && (loginForm?.controls['otp']?.dirty || isFormInvalid)">Max 6 digit is Required</p>
        </ion-col>
      </ion-row>
    </form>

    <ion-row *ngIf="signInData">
      <ion-col col-12>
        <ion-input placeholder="OTP" [(ngModel)]="signInOtp" type="tel" (keyup)="otpValidator()"></ion-input>
        <p class="error" *ngIf="!signInOtp">OTP is Required</p>
        <p class="error" *ngIf="signInOtp && signInOtp.length > 6">Max length is 6</p>
        <p class="error" *ngIf="signInOtp && signInOtp.length < 6">Min length is 6</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <!-- <div class="round-button button"> -->
        <button ion-button round block (click)="login()">Enter</button>
        <!-- </div> -->
      </ion-col>
      <ion-col col-6 text-left>
        <div class="sign-in" (click)="signIn()">
          Sign In
        </div>
      </ion-col>
      <ion-col col-6 text-right *ngIf="!signInData">
        <div class="resend" (click)="resendOTP()">
          {{resending?.value ? resending?.time + ' seconds remaining ...' :'Re-send OTP'}}
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>