<ion-header>

  <ion-navbar>
    <ion-title>Edit Event</ion-title>

    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="openScanner()">
        <ion-icon ios="md-qr-scanner" md="md-qr-scanner"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row class="event">
      <ion-col col-5>
        <div class="event-image image" [style.backgroundImage]="+event?.evententrydetail?.event_entry_confirmed == 0 ? previousPageData?.event?.event_image : +event?.evententrydetail?.qrcode_image"></div>
      </ion-col>
      <ion-col col-7 text-left>
        <div class="heading" text-nowrap [ngStyle]="theme?.special()">{{previousPageData?.event?.event_name}}</div>
        <!-- <div class="description">{{event?.evententrydetail?.description}}</div> -->
        <div class="padding" [ngStyle]="theme?.heading()">From :
          <div>
            <span class="time" [ngStyle]="theme?.data()">{{previousPageData?.event?.from_date}}</span>
            <ion-icon class="calender" name="md-calendar" (click)="openCalendar()"></ion-icon>
          </div>
        </div>
        <div class="padding" [ngStyle]="theme?.heading()">
          To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
          <div>
            <span class="time" [ngStyle]="theme?.data()">{{previousPageData?.event?.to_date}}</span>
            <ion-icon class="calender" name="md-calendar" (click)="openCalendar()"></ion-icon>
          </div>
        </div>
      </ion-col>
      <ion-col col-12>
        <div class="description" [ngStyle]="theme?.data()" [innerHTML]="showDescription ? previousPageData.event?.description : previousPageData.event?.description?.slice(0, 200) + '...'"></div>
        <div class="show-more" (click)="showDescription = !showDescription">Show {{showDescription ? 'Less' : 'More'}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 class="col-status">
        <div class="status" [ngStyle]="theme?.heading()">{{+event?.evententrydetail?.payment_status == 1 ? 'Payment Received' : 'Payment Status'}}</div>
      </ion-col>
      <ion-col col-1 class="status-image">
        <div class="image" [class.successImage]="+event?.evententrydetail?.payment_status == 1" [class.failImage]="+event?.evententrydetail?.payment_status == 0"></div>
      </ion-col>
      <ion-col col-5 class="cancel-button">
        <button ion-button full (click)="cancel()" *ngIf="+event?.evententrydetail?.payment_status == 0">Cancel Event</button>
        <div *ngIf="+event?.evententrydetail?.payment_status == 1" class="confirmed">Confirmed</div>
      </ion-col>
    </ion-row>

    <hr>

    <div class="background-color">
      <form [formGroup]="userForm">

        <ion-row>
          <ion-col col-12 class="person-detail">
            <div class="person-detail-color" [ngStyle]="theme?.heading()">Name: </div>
            <!-- <div class="person-detail-data" text-nowrap> Aman Kumar</div> -->
            <ion-item>
              <ion-input [disabled]="true" [ngStyle]="theme?.data()" placeholder="Name" formControlName="name" type="text" (focusout)="removePadding()"></ion-input>
            </ion-item>
          </ion-col>
          <p class="error" *ngIf="userForm?.controls['name']?.hasError('required') && (userForm?.controls['name']?.dirty || isFormInvalid)">Name is Required</p>

          <ion-col col-12 class="person-detail">
            <div class="person-detail-color" style="width: 110px;" [ngStyle]="theme?.heading()">Mobile No. : </div>
            <!-- <div class="person-detail-data"> 123456789</div> -->
            <ion-item>
              <ion-input [disabled]="true" [ngStyle]="theme?.data()" placeholder="Mobile no." formControlName="mobile" type="tel" (focusout)="removePadding()"></ion-input>
            </ion-item>
          </ion-col>
          <p class="error" *ngIf="userForm?.controls['mobile']?.hasError('required') && (userForm?.controls['mobile']?.dirty || isFormInvalid)">Mobile number is Required</p>
          <p class="error" *ngIf="userForm?.controls['mobile']?.hasError('minlength') && (userForm?.controls['mobile']?.dirty || isFormInvalid)">Min 10 digit is Required</p>
          <p class="error" *ngIf="userForm?.controls['mobile']?.hasError('maxlength') && (userForm?.controls['mobile']?.dirty || isFormInvalid)">Max 10 digit is Required</p>

          <ion-col col-12 class="person-detail">
            <div class="person-detail-color" [ngStyle]="theme?.heading()">No. Of Members: </div>
            <!-- <div class="person-detail-data"> 16</div> -->
            <number-slider class="num-sli" [seed]="userForm?.controls['noOfMembers'].value" (decreased)="numberValue($event, false)"
              (increased)="numberValue($event, true)" [mock]="+event?.evententrydetail?.payment_status == 1"></number-slider>
            <!-- <ion-item>
              <ion-range formControlName="noOfMembers"></ion-range>
            </ion-item>
            <div class="person-detail-data">
              {{userForm?.controls["noOfMembers"].value}}
            </div> -->
          </ion-col>
        </ion-row>
      </form>

      <div class="details">
        <ion-row class="row-header">
          <ion-col col-4>NAME</ion-col>
          <ion-col col-2>AGE</ion-col>
          <ion-col col-6 text-center>TICKET AMOUNT ({{theme?.defaultTheme?.currency}})</ion-col>
        </ion-row>

        <ion-row style="height: auto" *ngIf="users && users?.length > 0">
          <ion-col col-12>
            <div>
              <div *ngFor="let item of users" (click)="itemSelected(item)" style="margin: 5px;">
                {{ item?.name }}
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let person of persons; let i = index;" class="table bdr-btm">
          <ion-col col-4>
            <ion-item>
              <ion-input (keyup)="searchingUser(person.name, i)" [ngStyle]="theme?.data()" [(ngModel)]='person.name' type="text" placeholder="Name"
                (focusout)="removePadding()" [disabled]="+event?.evententrydetail?.payment_status == 1"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <ion-item>
              <ion-input [ngStyle]="theme?.data()" [(ngModel)]='person.age' type="tel" placeholder="Age" (focusout)="checkAge(i)" [disabled]="+event?.evententrydetail?.payment_status == 1"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-5 text-center class="amount">
            <ion-item>
              <ion-input [ngStyle]="theme?.data()" [disabled]='true' [(ngModel)]='person.amount' placeholder="Amount" type="text" (focusout)="removePadding()"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-1 text-center class="close" (click)="removeItem(i)" *ngIf="+event?.evententrydetail?.payment_status == 0">
            <div>
              <ion-icon ios="md-close" md="md-close"></ion-icon>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="total-row">
          <ion-col col-6>TOTAL</ion-col>
          <ion-col col-6 text-center>{{theme?.defaultTheme?.currency}} {{total}}/-</ion-col>
        </ion-row>

      </div>

      <ion-row class="row-radio" *ngIf="+previousPageData?.event?.entry_for != 0">
        <ion-col col-12 class="col-text">
          <div [ngStyle]="theme?.heading()">Are You Interested in ?</div>
        </ion-col>
        <!-- <ion-col col-12>
          <ion-item>
            <ion-label *ngIf="!eventPerson" [ngStyle]="theme?.heading()">Detail</ion-label>
            <ion-select [(ngModel)]="eventPerson" multiple='true'>
              <ion-option value="2" [ngStyle]="theme?.data()">VOLUNTEER</ion-option>
              <ion-option value="3" [ngStyle]="theme?.data()">PERFORMANCE</ion-option>
            </ion-select>
          </ion-item>
        </ion-col> -->
        <ion-col *ngIf="+previousPageData?.event?.entry_for == 2 || +previousPageData?.event?.entry_for == 1">
          <ion-item>
            <ion-label [ngStyle]="theme?.data()">VOLUNTEER</ion-label>
            <ion-checkbox [(ngModel)]="volunteer" style="margin: 8px;"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="+previousPageData?.event?.entry_for == 3 || +previousPageData?.event?.entry_for == 1">
          <ion-item>
            <ion-label [ngStyle]="theme?.data()">PERFORMANCE</ion-label>
            <ion-checkbox [(ngModel)]="performance" style="margin: 8px;"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="performance && +previousPageData?.event?.entry_for != 0">
        <ion-col col-12 class="event-detail">
          <div class="event-detail-color" [ngStyle]="theme?.heading()">Performance Name: </div>
          <!-- <div class="event-detail-data"> -->
          <!-- <ion-input [(ngModel)]='person.performanceName' type="text" (focusout)="removePadding()"></ion-input> -->
        </ion-col>
        <ion-col col-12 class="event-detail">
          <ion-item class="item-dance">
            <ion-select [(ngModel)]="person.performanceName" class="performance">
              <ion-option [ngStyle]="theme?.data()" *ngFor="let performance of performanceList" [value]="performance?.id">{{performance?.value}}</ion-option>
              <!-- <ion-option value="bd">Bhangra Dance</ion-option>
                <ion-option value="pd">Punjabi Dance</ion-option> -->
            </ion-select>
          </ion-item>
          <!-- </div> -->
        </ion-col>

        <ion-col col-12 class="event-detail">
          <div class="event-detail-color" [ngStyle]="theme?.heading()">No. of Participants: </div>
        </ion-col>
        <ion-col col-12 class="event-detail">
          <number-slider class="num-sli" [max]="previousPageData?.event?.max_attendees" [seed]="person.noOfParticipants" (decreased)="person.noOfParticipants = $event"
            (increased)="person.noOfParticipants = $event"></number-slider>
        </ion-col>

        <ion-col col-12 class="event-detail" #col>
          <div class="event-detail-color" [ngStyle]="theme?.heading()">Special Need: </div>
        </ion-col>
        <ion-col col-12 class="event-detail">
          <div class="event-detail-data extra">
            <ion-item>
              <ion-textarea [ngStyle]="theme?.data()" #extra rows="1" #ip (input)="change(ip, col)" [(ngModel)]='person.specialNeed' type="text"
                (focusout)="removePadding()"></ion-textarea>
            </ion-item>
          </div>
        </ion-col>
        <!-- <p class="error" *ngIf="person?.specialNeed && person?.specialNeed?.length <= 0 || isFormInvalid)">Special need is Required</p> -->
      </ion-row>
      <ion-row *ngIf="+event?.evententrydetail?.payment_status == 0">
        <ion-col col-12 class="submit">
          <button ion-button full (click)="submit()">SUBMIT</button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

<!-- <ion-footer>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 class="submit">
        <button ion-button full (click)="submit()">SUBMIT</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->
