<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Promotion and <br *ngIf="global?.platform?.width() < 400"> Discount</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid class="grid-promo">
    <div *ngFor='let b of cat; let i=index'>

      <ion-row class="row-promo" (click)="openCat(i)">
        <ion-col col-12>
          <div class="category" [class.active]="b">Category {{i+1}}</div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="b" class="row-coupon" (click)="openDetails()">
        <ion-col col-6 class="border-bottom border-right">
          <div class="header">Coupon Code</div>
        </ion-col>
        <ion-col col-6 class="border-bottom" text-right>
          <div>
            <span class="header">Discount %</span>
          </div>
        </ion-col>
        <ion-col col-6 class="col-address" text-left>
          <div>
            <b [style.color]="theme?.defaultTheme?.heading_font_colour" [style.font-size]="theme?.defaultTheme?.heading_font_size">Address : </b>
          </div>
          <div [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size">Lorem ipsum dolor sit amet</div>
        </ion-col>
        <ion-col col-6 class="col-time" text-right>
          <div text-left>
            <b [style.color]="theme?.defaultTheme?.heading_font_colour" [style.font-size]="theme?.defaultTheme?.heading_font_size">From:</b>
            <span class="date" [style.font-size]="theme?.defaultTheme?.data_font_size">02-01-2018</span>
          </div>
          <div text-left>
            <b [style.color]="theme?.defaultTheme?.heading_font_colour" [style.font-size]="theme?.defaultTheme?.heading_font_size">To:</b>
            <span class="date" [style.font-size]="theme?.defaultTheme?.data_font_size">02-01-2018</span>
          </div>
          <div class="usage" [style.color]="theme?.defaultTheme?.heading_font_colour" [style.font-size]="theme?.defaultTheme?.heading_font_size">
            No. of Usage: <span [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size">07</span>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <!-- <ion-row class="row-promo" (click)="openCat(2)">
        <ion-col col-12>
          <div class="category">Category 2</div>
        </ion-col>
      </ion-row>
      <ion-row class="row-promo" (click)="openCat(3)">
        <ion-col col-12>
          <div class="category">Category 3</div>
        </ion-col>
      </ion-row>
      <ion-row class="row-promo" (click)="openCat(4)">
        <ion-col col-12>
          <div class="category">Category 4</div>
      </ion-col>
    </ion-row>
    <ion-row class="row-promo" (click)="openCat(5)">
      <ion-col col-12>
        <div class="category">Category 5</div>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>