<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List of Event</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid *ngIf="!noData">

    <ion-row class="event-row" (click)="openEvent(i)" *ngFor="let event of eventDummydata; let i=index;">
      <ion-col col-4>
        <div class="event-image image" [style.backgroundImage]="event?.event_image"></div>
      </ion-col>
      <ion-col col-8 text-left class="col-event-detail">
        <div class="heading" [ngStyle]="theme?.special()">
          {{event?.event_name}} </div>
        <div class="padding" [ngStyle]="theme?.heading()">From :
          <span class="time" [ngStyle]="theme?.data()">{{event?.from_date}}</span>
        </div>
        <div class="padding" [ngStyle]="theme?.heading()">To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
          <span class="time" [ngStyle]="theme?.data()">{{event?.to_date}}</span>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-grid *ngIf="noData">
    <div class="no-data">
      No Data Found
    </div>
  </ion-grid>
</ion-content>
