<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="edit()">
        <img src="assets/icon/blue-edit-icon.png" class="create">
        <ion-icon ios="md-create" md="md-create"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid class="grid-image">
    <ion-row>
      <ion-col col-12 class="images">
        <div class="backgroundImage image blur"></div>
        <div class="profileImage image"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <form [formGroup]="profileForm">

      <ion-row class="row-mobile">
        <ion-col col-1 text-center>
          <ion-icon ios="md-phone-portrait" md="md-phone-portrait"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="mobile">Mobile No. :</div>
        </ion-col>
        <ion-col col-12 text-right>
          <div>123456789</div>
        </ion-col>
      </ion-row>

      <ion-row class="row-common">
        <ion-col col-1 text-center>
          <ion-icon ios="md-create" md="md-create"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="email">Name :</div>
        </ion-col>
        <ion-col col-12 text-right text-nowrap class="bdr-btm">
          <ion-item>
            <ion-input [disabled]="isDisabled" formControlName="name" type="text" placeholder="Type Name" (focusout)="removePadding()"></ion-input>
          </ion-item>
          <p class="error" text-left>
            <span *ngIf="profileForm?.controls['name']?.hasError('required') && (profileForm?.controls['name']?.dirty || isFormInvalid)">Name is Required.</span>
          </p>
        </ion-col>
      </ion-row>

      <ion-row class="row-common">
        <ion-col col-1 text-center>
          <ion-icon ios="md-mail" md="md-mail"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="email">Email :</div>
        </ion-col>
        <ion-col col-12 text-right text-nowrap class="bdr-btm">
          <ion-item>
            <ion-input [disabled]="isDisabled" formControlName="email" type="email" placeholder="Type Email" (focusout)="removePadding()"></ion-input>
          </ion-item>
          <p class="error" text-left>
            <span *ngIf="profileForm?.controls['email']?.hasError('required') && (profileForm?.controls['email']?.dirty || isFormInvalid)">Email is Required.</span>
            <span *ngIf="profileForm?.controls['email']?.hasError('email') && (profileForm?.controls['email']?.dirty || isFormInvalid)">Not a valid email.</span>
          </p>
        </ion-col>
      </ion-row>

      <ion-row class="row-common">
        <ion-col col-1 text-center>
          <ion-icon ios="md-lock" md="md-lock"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="address">Address :</div>
        </ion-col>
        <ion-col col-12 text-right class="bdr-btm">
          <ion-item>
            <ion-textarea class="address-textarea" rows="1" #ip (input)="change()" [disabled]="isDisabled" formControlName="address" type="text" placeholder="Type Address"
              (focusout)="removePadding()"></ion-textarea>
          </ion-item>
          <p class="error" text-left *ngIf="profileForm?.controls['address']?.hasError('required') && (profileForm?.controls['address']?.dirty || isFormInvalid)">Address is Required</p>
        </ion-col>
      </ion-row>

      <ion-row class="row-common">
        <ion-col col-12>
          <div class="mode-comm">Mode of Communication</div>
        </ion-col>
        <ion-col col-12 class="mode-of-comm">
          <ion-item>
            <!-- <ion-label>Mode of Communication</ion-label> -->
            <ion-select class="select-form" [disabled]="isDisabled" formControlName="modeOfCommunication" multiple="true">
              <ion-option value="E">Email</ion-option>
              <ion-option value="P">Phone</ion-option>
              <ion-option value="C">Chat</ion-option>
            </ion-select>
          </ion-item>
          <p class="error" text-left *ngIf="profileForm?.controls['modeOfCommunication']?.hasError('required') && (profileForm?.controls['modeOfCommunication']?.dirty || isFormInvalid)">Mode Of communication is Required</p>
        </ion-col>
      </ion-row>

      <ion-row class="row-common">
        <ion-col col-1 text-center>
          <ion-icon ios="md-settings" md="md-settings"></ion-icon>
        </ion-col>
        <ion-col col-10 text-left class="align-center">
          <div class="email">Profession :</div>
        </ion-col>
        <ion-col col-12 text-right text-nowrap>
          <!-- <div>Plumber</div> -->
          <ion-item>
            <ion-select class="select-form" [disabled]="isDisabled" formControlName="professionalService">
              <ion-option value="P">Plumber</ion-option>
              <ion-option value="D">Driver</ion-option>
              <ion-option value="M">Mechanic</ion-option>
            </ion-select>
          </ion-item>
          <p class="error" text-left *ngIf="profileForm?.controls['professionalService']?.hasError('required') && (profileForm?.controls['professionalService']?.dirty || isFormInvalid)">Professional Service is Required</p>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <button ion-button [disabled]="isDisabled" (click)="submit()" class="submitButton" full>
            Submit
          </button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>