<ion-header>

  <ion-navbar>
    <ion-title>Community App Name</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid class="grid-profession">
    <ion-row class="row-profession" *ngFor="let people of peoples; let i = index">
      <ion-col col-12 (click)="openPeopleDetails(i)">
        <div class="profession">{{people?.name}}</div>
      </ion-col>
      <!-- </ion-row> -->

      <div *ngIf="people?.show" class="background-color">

        <div class="details">
          <ion-row class="row-header">
            <ion-col col-6>NAME</ion-col>
            <!-- <ion-col col-2>RATE</ion-col> -->
            <ion-col col-6 text-center>PHONE NO.</ion-col>
          </ion-row>

          <ion-row (click)='openDetails()'>
            <ion-col col-6>Ajay</ion-col>
            <!-- <ion-col col-2>$30</ion-col> -->
            <ion-col col-6 text-center>9856784525</ion-col>
          </ion-row>

          <ion-row (click)='openDetails()'>
            <ion-col col-6>Ajay</ion-col>
            <!-- <ion-col col-2>$30</ion-col> -->
            <ion-col col-6 text-center>9856784525</ion-col>
          </ion-row>

          <ion-row (click)='openDetails()'>
            <ion-col col-6>Ajay</ion-col>
            <!-- <ion-col col-2>$30</ion-col> -->
            <ion-col col-6 text-center>9856784525</ion-col>
          </ion-row>

          <ion-row (click)='openDetails()'>
            <ion-col col-6>Ajay</ion-col>
            <!-- <ion-col col-2>$30</ion-col> -->
            <ion-col col-6 text-center>9856784525</ion-col>
          </ion-row>

          <ion-row (click)='openDetails()'>
            <ion-col col-6>Ajay</ion-col>
            <!-- <ion-col col-2>$30</ion-col> -->
            <ion-col col-6 text-center>9856784525</ion-col>
          </ion-row>

          <ion-row (click)='openDetails()'>
            <ion-col col-6>Ajay</ion-col>
            <!-- <ion-col col-2>$30</ion-col> -->
            <ion-col col-6 text-center>9856784525</ion-col>
          </ion-row>

          <ion-row (click)='openDetails()'>
            <ion-col col-6>Ajay</ion-col>
            <!-- <ion-col col-2>$30</ion-col> -->
            <ion-col col-6 text-center>9856784525</ion-col>
          </ion-row>

        </div>
      </div>
    </ion-row>

  </ion-grid>
</ion-content>