<ion-header>

  <ion-navbar>
    <ion-title>Event Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row class="event">
      <ion-col col-5>
        <div class="event-image image" [style.backgroundImage]="event?.event?.event_image"></div>
      </ion-col>
      <ion-col col-7 text-left>
          <div class="heading" text-nowrap [style.color]="theme?.defaultTheme?.special_data_font_colour" [style.font-size]="theme?.defaultTheme?.special_data_font_size">{{previousPageData?.event?.event_name}}</div>
          <!-- <div class="description">{{event?.event?.description}}</div> -->
          <div class="padding" [style.color]="theme?.defaultTheme?.heading_font_colour" [style.font-size]="theme?.defaultTheme?.heading_font_size">From :
              <div>
                  <span class="time" [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size">{{previousPageData?.event?.from_date}}</span>
                  <ion-icon class="calender" name="md-calendar" (click)="openCalendar()"></ion-icon>
          </div>
        </div>
        <div class="padding" [style.color]="theme?.defaultTheme?.heading_font_colour" [style.font-size]="theme?.defaultTheme?.heading_font_size">
            To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
          <div>
              <span class="time" [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size">{{previousPageData?.event?.to_date}}</span>
              <ion-icon class="calender" name="md-calendar" (click)="openCalendar()"></ion-icon>
          </div>
        </div>
      </ion-col>
      <ion-col col-12>
          <div class="description" [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size">{{previousPageData?.event?.description}}</div>
        </ion-col>
    </ion-row>

    <hr>

    <div class="background-color">
      <form [formGroup]="userForm">

        <ion-row>
          <ion-col col-12 class="person-detail">
              <div class="person-detail-color"  [style.color]="theme?.defaultTheme?.heading_font_colour" [style.font-size]="theme?.defaultTheme?.heading_font_size">Name: </div>
              <!-- <div class="person-detail-data" text-nowrap> Aman Kumar</div> -->
            <ion-item>
                <ion-input [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size" placeholder="Name" formControlName="name" type="text" (focusout)="removePadding()"></ion-input>
              </ion-item>
          </ion-col>
          <p class="error" *ngIf="userForm?.controls['name']?.hasError('required') && (userForm?.controls['name']?.dirty || isFormInvalid)">Name is Required</p>

          <ion-col col-12 class="person-detail">
              <div class="person-detail-color" style="width: 110px;" [style.color]="theme?.defaultTheme?.heading_font_colour" [style.font-size]="theme?.defaultTheme?.heading_font_size">Mobile No. : </div>
              <!-- <div class="person-detail-data"> 123456789</div> -->
            <ion-item>
                <ion-input [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size" placeholder="Mobile no." formControlName="mobile" type="tel" (focusout)="removePadding()"></ion-input>
              </ion-item>
          </ion-col>
          <p class="error" *ngIf="userForm?.controls['mobile']?.hasError('required') && (userForm?.controls['mobile']?.dirty || isFormInvalid)">Mobile number is Required</p>
          <p class="error" *ngIf="userForm?.controls['mobile']?.hasError('minlength') && (userForm?.controls['mobile']?.dirty || isFormInvalid)">Min 10 digit is Required</p>
          <p class="error" *ngIf="userForm?.controls['mobile']?.hasError('maxlength') && (userForm?.controls['mobile']?.dirty || isFormInvalid)">Max 10 digit is Required</p>

          <ion-col col-12 class="person-detail">
              <div class="person-detail-color" [style.color]="theme?.defaultTheme?.heading_font_colour" [style.font-size]="theme?.defaultTheme?.heading_font_size">No. Of Members: </div>
              <!-- <div class="person-detail-data"> 16</div> -->
            <number-slider class="num-sli" [seed]="userForm?.controls['noOfMembers'].value" (decreased)="numberValue($event, false)" (increased)="numberValue($event, true)"></number-slider>
            <!-- <ion-item>
                <ion-range formControlName="noOfMembers"></ion-range>
              </ion-item>
              <div class="person-detail-data">
                {{userForm?.controls["noOfMembers"].value}}
              </div> -->
          </ion-col>
        </ion-row>
      </form>

      <div class="details">
        <ion-row class="row-header">
          <ion-col col-4>NAME</ion-col>
          <ion-col col-2>AGE</ion-col>
          <ion-col col-6 text-center>TICKET AMOUNT</ion-col>
        </ion-row>

        <ion-row *ngFor="let person of persons; let i = index;" class="table bdr-btm">
          <ion-col col-4>
            <ion-item>
              <ion-input [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size" [(ngModel)]='person.name' type="text" placeholder="Name" (focusout)="removePadding()"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <ion-item>
              <ion-input [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size" [(ngModel)]='person.age' type="tel" placeholder="Age" (focusout)="removePadding()" (keyup)="checkAge(i, $event)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6 text-center class="amount">
            <ion-item>
              <ion-input [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size" [disabled]='true' [(ngModel)]='person.amount' type="text" placeholder="Amount" (focusout)="removePadding()"></ion-input>
            </ion-item>
          </ion-col>
          <!-- <ion-col col-1 text-center class="close" (click)="removeItem(i)">
            <div>
              <ion-icon ios="md-close" md="md-close"></ion-icon>
            </div>
          </ion-col> -->
        </ion-row>

        <ion-row class="total-row">
          <ion-col col-6>TOTAL</ion-col>
          <ion-col col-6 text-center>{{total}}/-</ion-col>
        </ion-row>

      </div>

      <ion-row class="row-radio">
        <ion-col col-12 class="col-text">
            <div [style.color]="theme?.defaultTheme?.heading_font_colour" [style.font-size]="theme?.defaultTheme?.heading_font_size">Are You Interested in ?</div>
          </ion-col>
        <ion-row col-12>
          <ion-col>
          <ion-item>
            <ion-label [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size">VOLUNTEER</ion-label>
            <ion-checkbox [(ngModel)]="volunteer" style="margin: 8px;"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size">PERFORMANCE</ion-label>
            <ion-checkbox [(ngModel)]="performance" style="margin: 8px;"></ion-checkbox>
          </ion-item>
        </ion-col>
        </ion-row>
      </ion-row>

      <ion-row *ngIf="performance">
        <ion-col col-12 class="event-detail">
            <div class="event-detail-color" [style.color]="theme?.defaultTheme?.heading_font_colour" [style.font-size]="theme?.defaultTheme?.heading_font_size">Performance Name: </div>
            <!-- <div class="event-detail-data"> -->
          <!-- <ion-input [(ngModel)]='person.performanceName' type="text"></ion-input> -->
        </ion-col>
        <ion-col col-12 class="event-detail">
          <ion-item class="item-dance">
            <ion-select [(ngModel)]="person.performanceName" class="performance">
                <ion-option [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size" *ngFor="let performance of performanceList" [value]="performance?.id">{{performance?.value}}</ion-option>
                <!-- <ion-option value="bd">Bhangra Dance</ion-option>
              <ion-option value="pd">Punjabi Dance</ion-option> -->
            </ion-select>
          </ion-item>
          <!-- </div> -->
        </ion-col>
        <ion-col col-12 class="event-detail">
          <div class="event-detail-color" [style.color]="theme?.defaultTheme?.heading_font_colour" [style.font-size]="theme?.defaultTheme?.heading_font_size">No. of Participants: </div>
        </ion-col>
        <ion-col col-12 class="event-detail">
          <number-slider [seed]="person.noOfParticipants" (decreased)="person.noOfParticipants = $event" (increased)="person.noOfParticipants = $event"></number-slider>
        </ion-col>

        <ion-col col-12 class="event-detail" #col>
          <div class="event-detail-color" [style.color]="theme?.defaultTheme?.heading_font_colour" [style.font-size]="theme?.defaultTheme?.heading_font_size">Special Need: </div>
        </ion-col>
        <ion-col col-12 class="event-detail">
          <div class="event-detail-data extra">
            <ion-item>
              <ion-textarea [style.color]="theme?.defaultTheme?.data_font_colour" [style.font-size]="theme?.defaultTheme?.data_font_size" #extra rows="1" #ip (input)="change(ip, col)" [(ngModel)]='person.specialNeed' type="text" (focusout)="removePadding()"></ion-textarea>
            </ion-item>
          </div>
        </ion-col>
        <!-- <p class="error" *ngIf="person?.specialNeed && person?.specialNeed?.length <= 0 || isFormInvalid)">Special need is Required</p> -->
      </ion-row>

      <ion-row>
        <ion-col col-12 class="submit">
          <button ion-button full (click)="submit()">SUBMIT</button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
