
//Global calsses
.image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.error{
    color: #f53d3d;
    margin: 5px 10px;
    font-size: 12px;
}

.toolbar-background-md {
    border-color: #02A1E2;
    background: #02A1E2;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: white;
}
.toolbar-title-md{
    color: white;
    // padding: 0 50px;
}