page-community-app-name {
    .grid-search{
        .row-search{
            ion-col[col-6]{
                ion-input{
                    background-color: white;
                    height: 5rem;
                    border: 1px solid lightgray;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    padding: 5px 10px;
                    border-radius: 3px;
                    }
            }
            .col{
                margin: 5px 0;
            }
            .search{
                background-color: white;
                height: 5rem;
                border: 1px solid lightgray;
                font-size: 20px;
                display: flex;
                align-items: center;
                padding: 5px 10px;
                border-radius: 3px;
            }
        }
        .col-person{
            .list-person{
                .item-person{
                    padding-left: 5px;

                    .item-inner{
                        padding-right: 0px;
                    }
                    ion-icon{
                        font-size: 3.5rem;
                    }
                }
            }
        }
    }
}
