page-community-app-name {
    .grid-search{
        .row-search{
            ion-col[col-6]{
                ion-input{
                    background-color: white;
                    height: 4.5rem;
                    border: 1px solid lightgray;
                    // font-size: 20px;
                    display: flex;
                    align-items: center;
                    padding: 5px 10px;
                    border-radius: 3px;
                }
            }
            .col{
                margin: 5px 0;
            }
            .search{
                background-color: white;
                height: 3rem;
                border: 1px solid lightgray;
                // font-size: 20px;
                display: flex;
                align-items: center;
                padding: 10px;
                padding-top: 16px;
                border-radius: 3px;

                .select-form{
                    max-width: 100%;
                    padding: 0;
                    width: 100%;
                    
                }
                .select-md .select-icon{
                    width: 16px;
                }
                .item-inner{
                    .input-wrapper{
                        align-items: flex-start;
                    }
                }
            }
        }
        .col-person{
            .list-person{
                .item-person{
                    padding-left: 5px;

                    p{
                        font-size: 12px;
                    }

                    .item-inner{
                        padding-right: 0px;
                    }
                    ion-icon{
                        font-size: 2.4rem;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }

    .item-md{
        padding-left: 0;
    }
    .item-md.item-block .item-inner{
        padding-right: 0;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        border-bottom-color: white;
        box-shadow: none;        
    }
    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
        border-bottom-color: white;
        box-shadow: none;
    }

    .item-md.item-block .item-inner{
        border-bottom: none;
    }
}
