<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chats</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="edit()">
        <img src="assets/icon/blue-edit-icon.png" class="create">
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 no-padding *ngIf="!noData">
        <ion-list>
          <ion-item *ngFor="let chat of chatList; let i = index;" (click)="openChatDetails(chat, i)">
            <ion-avatar item-start>
              <img [src]="chat?.image" class="create">
            </ion-avatar>
            <h2>{{chat?.name}}</h2>
            <p>{{chat?.message}}</p>
            <ion-note item-end>{{chat?.time | date:'shortTime'}}</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12 no-padding *ngIf="noData" text-center>
        <div class="no-data">No Chat Found</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
