page-community-name {
    .grid{
        padding: 0;
    }
    .col-backgroundImage{
        padding: 0;
    }
    .backgroundImage{
        background-image: url('../assets/icon/1.png');
        height: 150px;
        width: 100%;
    }
    .row-filter{
        background-color: #02A1E2;
        color: white;
        display: flex;
        justify-content: space-around;
        height: 30px;
    }
    .col-filter{
        align-items: center;
        margin: auto;

        .filter{
            font-size: 18px;
            display: flex;
            text-align: center;
            height: 30px;
            min-width: 125px;
            border-right: 1px solid lightgray;
            justify-content: center;
            align-items: center;
        }
    }
    .details{
        margin-top: 20px;

        .heading{
            font-size: 18px;
            font-weight: 600;
            color: #02A1E2;
        }
        .col-price{
            display: grid;
            justify-content: center;

            .price{
                color: red;
                font-size: 16px;
            }
            .star{
                background-image: url('../assets/icon/star-icon.png');
                height: 30px;
                width: 30px;
            }
        }
        .col-chair{
            .div-chair{
                font-size: 16px;
                display: flex;
                padding: 5px;
                justify-content: space-evenly;

                .chair{
                    background-image: url('../assets/icon/blue-seat-icon.png');
                    height: 20px;
                    width: 15px;
                    display: inline-block;
                }
            }
        }
        .left-count{
            color: red;
            font-size: 18px;
        }
        .time{
            color: red;
            // font-size: 16px;
        }
        .time2{
            color: red;
            padding-left: 16px;
            // font-size: 16px;
        }
        .calender{
            color: #02A1E2;
        }
    }
    .div-venue{
        color: red;
        font-size: 16px;

        span{
            color: black;
            font-style: italic;
            font-size: 16px;
        }
    }
    .row-parking{
        border-bottom: 1px solid lightgray;
        padding-bottom: 20px;

        .div-parking{
            display: flex;
            align-items: center;
            
            .parking{
                // font-size: 16px;
            }
        }
    }
        .parking-status{
            // background-color: red;
            // color: white;
            height: 35px;
            display: flex;
            align-items: center;
            font-size: 16px;
            justify-content: center;
        }
    .row-timing{
        ion-col[col-4]{
            font-size: 16px;
        }
    }
    .description {
        // font-size: 16px;
    }
    .location{
        font-size: 16px;
    }
    .div-map{
        padding: 0;
        .map{
            height: 250px;
            width: 100%
        }
    }
}
