<ion-header>

  <ion-navbar>
    <ion-title>Community Name</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 class="col-backgroundImage">
        <div class="backgroundImage image" [style.backgroundImage]="eventData?.event?.event_image"></div>
      </ion-col>
    </ion-row>

    <ion-row class="row-filter" text-center>
      <!-- <ion-col class="col-filter" text-center>
        <div class="filter" (click)="edit()">Edit</div>
        <div class="filter" (click)="registration()">Registration</div>
        <div class="filter">Performance</div>
        <div class="filter">Voluntary</div>
      </ion-col> -->

      <div class="col-filter" (click)="edit()" *ngIf="eventData?.event_entry_id">Edit</div>
      <div class="col-filter" (click)="registration()" *ngIf="!eventData?.event_entry_id">Registration</div>
      <div class="col-filter" (click)="performance()">Performance</div>
    </ion-row>

    <div class="details">
      <ion-row>
        <ion-col col-9>
          <div class="heading" text-capitalize>{{eventData?.event?.event_name}}</div>
          <div class="description">{{eventData?.event?.description}}</div>
        </ion-col>
        <ion-col col-3 text-center class="col-price">
          <div class="star image"></div>
          <div class="price">${{eventData?.event?.price_type}}</div>
        </ion-col>
      </ion-row>

      <ion-row class="row-timing">
        <ion-col col-9>
          <ion-col col-4>
            From :
          </ion-col>
          <ion-col col-8>
            <span class="time">{{eventData?.event?.from_date}}</span>
            <ion-icon class="calender" name="md-calendar" (click)="openCalendar()"></ion-icon>
          </ion-col>
          <br>
          <ion-col col-4>
            To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
          </ion-col>
          <ion-col col-8 text-center>
            <span class="time2">{{eventData?.event?.to_date}}</span>
            <ion-icon class="calender" name="md-calendar" (click)="openCalendar()"></ion-icon>
          </ion-col>
        </ion-col>

        <ion-col col-3 text-center class="col-chair">
          <div class="div-chair">
            <span class="chair image"></span>Left
          </div>
          <div class="left-count">{{eventData?.event?.max_attendees}}</div>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col col-12>
          <div class="div-venue">
            <span>Venue: </span>
            <span text-capitalize>
              {{eventData?.event?.address}}
            </span>
            <ion-icon class="calender" name="md-map" (click)="openPlace()"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row-parking">
        <ion-col col-9 class="div-parking">
          <div class="parking">Travel Information: </div>
        </ion-col>
        <ion-col col-3>
          <div class="parking-status" text-uppercase>{{eventData?.event?.travel_info}}</div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="eventData?.event?.geo_lat">
        <ion-col col-12>
          <div class="location">Location</div>
        </ion-col>
        <ion-col col-12 class="div-map">
          <div #map id="map" class="map"></div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>