page-menu {
    .profile{
        background-image: url('../assets/icon/sidebar-profile-photo.png');
        height: 100px;
        width: 100px;
    }
    .menu-header-grid{
        background: #2D3192;
        color: white;
    }
    .menu-header-col{
        padding: 20px 0 0 15px;
            h2{
            }
            p{
                color: #595AA3;
                margin: 0 0 5px 0;
            }
    }
    ion-menu{
        .scroll-content{
            margin-top:205px !important;
        }
    }
    .menu{
        .item{
            min-height: 3rem;
            ion-icon{
                margin-top: 5px;
                margin-bottom: 5px;
                color: #696E74;
            }
            .label-md {
                margin: 5px 8px 5px 0;
            }
            .item-md{
                padding-left: 0px;
            }
        }
        .list-md .item-block .item-inner{
            border-bottom: none;
        }
        .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input{
            margin-left: 18px;
        }
    }
    .list-second{
        margin-top: 100px;
    }
    
    }
    